aic2/src/localhost_8083/orderservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="OrderManagementService" targetNamespace="http://services.aic666.tuwien.at/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.aic666.tuwien.at/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://services.aic666.tuwien.at/" version="1.0" xmlns:tns="http://services.aic666.tuwien.at/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="address" type="tns:address" />
<xs:element name="checkAvailability" type="tns:checkAvailability" />
<xs:element name="checkAvailabilityResponse" type="tns:checkAvailabilityResponse" />
<xs:element name="customer" type="tns:customer" />
<xs:element name="insertTestData" type="tns:insertTestData" />
<xs:element name="insertTestDataResponse" type="tns:insertTestDataResponse" />
<xs:element name="isFinished" type="tns:isFinished" />
<xs:element name="isFinishedResponse" type="tns:isFinishedResponse" />
<xs:element name="item" type="tns:item" />
<xs:element name="order" type="tns:order" />
<xs:element name="payment-preference" type="tns:paymentPreference" />
<xs:element name="placeOrder" type="tns:placeOrder" />
<xs:element name="placeOrderResponse" type="tns:placeOrderResponse" />
<xs:complexType name="placeOrder">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="tns:item" />
<xs:element minOccurs="0" name="arg1" type="tns:customer" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="item">
<xs:sequence>
<xs:element name="quantity" type="xs:int" />
<xs:element minOccurs="0" name="singleUnitPrice" type="xs:decimal" />
</xs:sequence>
<xs:attribute name="id" type="xs:string" />
</xs:complexType>
<xs:complexType name="customer">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element minOccurs="0" name="preference" type="tns:paymentPreference" />
<xs:element minOccurs="0" name="address" type="tns:address" />
</xs:sequence>
<xs:attribute name="id" type="xs:string" />
</xs:complexType>
<xs:complexType name="address">
<xs:sequence>
<xs:element minOccurs="0" name="street" type="xs:string" />
<xs:element minOccurs="0" name="city" type="xs:string" />
<xs:element minOccurs="0" name="zipCode" type="xs:string" />
<xs:element name="house" type="xs:int" />
<xs:element name="door" type="xs:int" />
</xs:sequence>
<xs:attribute name="id" type="xs:string" />
</xs:complexType>
<xs:complexType name="placeOrderResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:order" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="order">
<xs:sequence>
<xs:element minOccurs="0" name="orderDate" type="xs:long" />
<xs:element minOccurs="0" name="customer" type="tns:customer" />
<xs:element minOccurs="0" name="items">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:item" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="id" type="xs:string" />
</xs:complexType>
<xs:complexType name="insertTestData">
<xs:sequence />
</xs:complexType>
<xs:complexType name="insertTestDataResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="isFinished">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:order" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="isFinishedResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="checkAvailability">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:item" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="checkAvailabilityResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:simpleType name="paymentPreference">
<xs:restriction base="xs:string">
<xs:enumeration value="credit-card" />
<xs:enumeration value="bank-transfer" />
</xs:restriction>
</xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="checkAvailabilityResponse">
    <wsdl:part element="tns:checkAvailabilityResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isFinished">
    <wsdl:part element="tns:isFinished" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkAvailability">
    <wsdl:part element="tns:checkAvailability" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="placeOrderResponse">
    <wsdl:part element="tns:placeOrderResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="placeOrder">
    <wsdl:part element="tns:placeOrder" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isFinishedResponse">
    <wsdl:part element="tns:isFinishedResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertTestDataResponse">
    <wsdl:part element="tns:insertTestDataResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertTestData">
    <wsdl:part element="tns:insertTestData" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IOrderManagementService">
    <wsdl:operation name="placeOrder">
      <wsdl:input message="tns:placeOrder" name="placeOrder">
    </wsdl:input>
      <wsdl:output message="tns:placeOrderResponse" name="placeOrderResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTestData">
      <wsdl:input message="tns:insertTestData" name="insertTestData">
    </wsdl:input>
      <wsdl:output message="tns:insertTestDataResponse" name="insertTestDataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isFinished">
      <wsdl:input message="tns:isFinished" name="isFinished">
    </wsdl:input>
      <wsdl:output message="tns:isFinishedResponse" name="isFinishedResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkAvailability">
      <wsdl:input message="tns:checkAvailability" name="checkAvailability">
    </wsdl:input>
      <wsdl:output message="tns:checkAvailabilityResponse" name="checkAvailabilityResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderManagementServiceSoapBinding" type="tns:IOrderManagementService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="placeOrder">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="placeOrder">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="placeOrderResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTestData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="insertTestData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="insertTestDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isFinished">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="isFinished">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="isFinishedResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkAvailability">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="checkAvailability">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="checkAvailabilityResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderManagementService">
    <wsdl:port binding="tns:OrderManagementServiceSoapBinding" name="OrderManagementServicePort">
      <soap:address location="http://localhost:8083/orderservice" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>